<div class='form-and-display'>
  <div class='virticalcard'>
    <%= render 'form', document: @document %>
  </div>

  <div id='displayarea' class='virticalcard'></div>

  <div>
    <%= link_to 'Show', @document %>
  </div>

  <div>
  </div>
</div>


