<p id="notice"><%= notice %></p>

<div id='displayarea' class='virticalcard'></div>

<div id='hiddenMarkdown' style='display: none;'><%= @document.content %></div>

<%= link_to 'Edit', edit_document_path(@document) %>
