html,
body {
  height: 100%;
  margin: 0;
}

.form-and-display {
  display: grid;
  grid-auto-rows: 40px;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 20px;
  min-height: 100%;
  padding: 2px;
  width: 100%;
}

.virticalcard {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

#document_content {
  border: 0;
  height: 100%;
  margin: 0;
  min-height: 300px;
  overflow: auto;
  padding: 0;
  resize: none;
  width: 100%;
}
